

.slider
{
    font:19px sans-serif;
    margin: 0px auto;
    position: relative;
    width: 700px;
    height: 300px;
    overflow: hidden;
}

.at
{
    width: 50%;
    height: 300px;
}

.kontrol
{
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.kontrol a
{
    color: #ffffff;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
