#tableson {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    background-color: #f6f6f6;
}
    /* Spacing */
    #tableson td, th {
        border: 1px solid #999;
        padding: 20px;
    }

    #tableson th {
        background: brown;
        color: white;
        border-radius:5px;
        position: sticky;
        top: 0;
        padding: 10px;
    }

    #tableson .primary {
        background-color: #000000
    }

    #tableson tfoot > tr {
        background: black;
        color: white;
    }

    #tableson tbody > tr:hover {
        background-color: #ffc107;
    }
